@media only screen and (min-width : 320px) {
.contact{
	background-color:#393e42;
	height:auto;
}
.contact .forma .for{
	margin:0px auto;
	padding-left:25px;
}
.contact input[type="submit"]{
	margin-left:65%;
 }
.skills{
	background-color:#393e42;
	position:relative;
	padding-left:0px;
	padding-right:0px;
}
.buttons {
	position: absolute;
	bottom: 10px;
}
.buttons ul li:first-child{
	margin-left:0px;
}
.aboutme{
	padding-bottom:60px;
}
.skills h2{
	padding-top:15px;
}
.skills .icon{
	height:300px;
	padding-left:0px;
	padding-right:0px;
}
.aforism{
	background-color:#616365;
	height:auto;
	padding:10px;
}
.foto{
	position:absolute;
	top:0px;
	left:0px;
	z-index:1;
	border:5px solid white;
}
.foto img{
	width:80px;
	height:80px;
}
.head p{
	font-family:helv-light;
	font-size:16px;
	font-weight:100;
	color:#ffffff;
	position:absolute;
	bottom:4vw;
	left:30vw;
}
.head p span:first-child{
	font-family:helv-light;
	font-size:30px;
	font-weight:100;
	color:#ffffff;
}
.nav{
	height:auto;
}
.nav ul{
	margin-left:40%;
	margin-top:10%;
}
.nav ul li{
	padding-bottom:20px;
}
.about{height:auto;
}
 .logo{
	position:absolute;
	top:30%;
	left:25%;
 }
 .pos{
	text-align:center;
	padding-left:5px;
}
}
@media only screen and (min-width : 375px) {
.logo{
	position:absolute;
	top:30%;
	left:28%;
 }
.head p {
	font-family: helv-light;
	font-size: 16px;
	font-weight: 100;
	color: #ffffff;
	position: absolute;
	bottom: 1vw;
	left: 5vw;
}
 .pos{
	text-align:center;
	padding-left:15px;
}
}
 @media only screen and (min-width : 425px) {
.logo{
	position:absolute;
	top:30%;
	left:31%;
 }
.head p {
	font-family: helv-light;
	font-size: 16px;
	font-weight: 100;
	color: #ffffff;
	position: absolute;
	bottom: 2vw;
	left: 6vw;
}
}
/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
.contact{
	background-color:#393e42;
	height:auto;
}
.skills{
	background-color:#393e42;
	position:relative;
	padding-left:0px;
	padding-right:0px;
}
.aforism{
	background-color:#616365;
	height:auto;
}
.foto{
	position:absolute;
	top:0vw;
	left:0vw;
	border-radius:50%;
	z-index:1;
	border:10px solid white;
}
.head p{
	font-family:helv-light;
	font-size:20px;
	font-weight:100;
	color:#ffffff;
	position:absolute;
	bottom:10vw;
	left:28vw;
}
.head p span:first-child{
	font-family:helv-light;
	font-size:32px;
	font-weight:100;
	color:#ffffff;
}
.nav{
	height:auto;
}
.nav ul{
	margin-left:40%;
	margin-top:10%;
}
.nav ul li{
	padding-bottom:20px;
}
.work .wrapper div{
	padding:10px 0px 10px 10px;
}
.logo{
	position:absolute;
	top:30%;
	left:30%;
 }
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
.foto{
	position:absolute;
	top:22vw;
	left:12vw;
	border-radius:50%;
	z-index:1;
	border:10px solid white;
}
.head p{
	font-size:20px;
	font-weight:100;
	color:#ffffff;
	position:absolute;
	top:28vw;
	left:45vw;
}
 .contact h2{
	font-family:helv-light;
	font-size:3em;
	color:#ffffff;
	margin-top:0px;
	margin-bottom:20px;
}
 .contact .forma .for{
	margin:0px auto;
	padding-left:65px;
 }
.contact input[type="submit"]{
	margin-left:76%;
 }
.nav{
	height:551px;
 }
.nav ul{
	margin-left:60%;
	margin-top:75%;
}
.about{
	padding-left:70px;
}
.icon .logo:last-child{
	margin-left:0px;
}
.skills{
	background-color:#393e42;
	position:relative;
	padding-left:0px;
	padding-right:0px;
}
.icon{
	height:260px;
} 
.wrapper{
	width:70%;
	margin:0px auto;
	padding:10px;
 }
 .contact{
	background-color:#393e42;
	height:auto;
}
 .foto{
	position:absolute;
	top:20vw;
	left:12vw;
	border-radius:50%;
	z-index:1;
	border:10px solid white;
}
.foto img{
	width:100%;
	height:100%;
}
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 1024px) {
.foto{
	position:absolute;
	top:25vw;
	left:12vw;
	border-radius:50%;
	z-index:1;
	border:10px solid white;
}
 .nav{
	height:443px;
 }
.nav ul{
	margin-left:60%;
	margin-top:56%;
}
.foto{
	position:absolute;
	top:25vw;
	left:12vw;
	border-radius:50%;
	z-index:1;
	border:10px solid white;
}
.foto img{
	width:100%;
	height:100%;
}
.head p{
	font-size:20px;
	font-weight:100;
	color:#ffffff;
	position:absolute;
	top:30vw;
	left:40vw;
}
.skills .logo:first-child{
	margin-left:-25px;
}
.work .wrapper .pos img{
	width:155px;
	height:155px;
}
.contact input[type="submit"]{
	margin-left:72%;
 }
}
 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1280px) {
.nav{
	height:416px;
}
.nav ul{
	margin-left:60%;
	margin-top:40%;
}
.foto{
	position:absolute;
	top:28vw;
	left:12vw;
	border-radius:50%;
	z-index:1;
	border:10px solid white;
}
.foto img{
	width:100%;
	height:100%;
}
.head p{
	font-size:20px;
	font-weight:100;
	color:#ffffff;
	position:absolute;
	top:30vw;
	left:40vw;
}
.work .wrapper .pos img{
	width:219px;
	height:219px;
}
.contact input[type="submit"]{
	margin-left:76%;
}
.skills .logo:first-child{
	margin-left:0px;
}
}
