@font-face {
	font-family:'helv-light';
	src: url('fonts/helv-light.ttf') format('truetype'),
	url('fonts/helv-light.woff') format('woff'),
	url('fonts/helv-light.woff2') format('woff2'),
	url('fonts/helv-light.eot') format('eot'),
	url('fonts/helv-light.svg') format('svg');
}
@font-face {
	font-family:'helv-bold';
	src: url('fonts/helv-bold.ttf') format('truetype'),
	url('fonts/helv-bold.woff') format('woff'),
	url('fonts/helv-bold.woff2') format('woff2'),
	url('fonts/helv-bold.eot') format('eot'),
	url('fonts/helv-bold.svg') format('svg');
}
@font-face {
	font-family:'helv-oblique';
	src: url('fonts/helv-oblique.ttf') format('truetype'),
	url('fonts/helv-oblique.woff') format('woff'),
	url('fonts/helv-oblique.woff2') format('woff2'),
	url('fonts/helv-oblique.eot') format('eot'),
	url('fonts/helv-oblique.svg') format('svg');
}
body{
	font-size:18px;
	line-height:1.5;
}
.row{
	margin-right:0px;
	margin-left:0px;
}
.head{
	position:relative;
	width:100%;
	height:37vw;
	background-image:url("../img/island.png");
	background-repeat:no-repeat;
	background-size:cover;
}
.head p{
	font-family:helv-light;
	font-size:20px;
	font-weight:100;
	color:#ffffff;
	position:absolute;
	bottom:10px;
	left:35vw;
}
.head p span:first-child{
	font-family:helv-light;
	font-size:40px;
	font-weight:100;
	color:#ffffff;
}
.head p span:last-child{
	font-family:helv-light;
	font-size:40px;
	font-weight:bold;
	color:#ffffff;
}
.foto{
	position:absolute;
	top:32vw;
	left:12vw;
	border-radius:50%;
	z-index:1;
	border:10px solid white;
}
.nav{
	background-color:#eeeeee;
	height:350px;
}
.nav ul{
	margin-left:60%;
	margin-top:40%;
}
.nav ul li img{
	padding:10px;
	vertical-align:middle;
}
.nav li .circle{
	background-image: url('../img/Ellipse-.png');
	background-repeat: no-repeat;
	background-position:left center;
}
.nav li .circle a{
margin-left:30px;
}
.nav li .circle:hover{
	background-image: url('../img/Ellipse.png');
}
.nav li .circle a:hover{
	color:black;
	font-weight:bold;
	text-decoration:none;
}
.about{
	background-color:#eeeeee;
	height:350px;
}
.about h2{
	font-family:helv-bold;
	font-size:60px;
}
.about h2 span{
	font-family:helv-light;
	font-size:60px;
}
.about p{
	clear:left;
	padding-bottom:20px;
}
.about p:last-child{
	padding-bottom:30px;
}

.buttons{
	position:absolute;
	bottom:100px;
}
.buttons li {
	float: left;
	margin-left: 12px;
}
.buttons li a {
	display: inline-block;
	width: 40px;
	height: 40px;
	-webkit-background-size:cover;
	     -o-background-size:cover;
	        background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
}

.buttons li a.facebook{
	background-image: url('../img/facebook.png');	
}
.buttons li a.linkedin{
	background-image: url('../img/linkedin2.png');	
}
.buttons li a.github{
	background-image: url('../img/github.png');	
}
.buttons ul li a:hover{
cursor:pointer;
box-shadow: 3px 3px grey;
opacity:0.6;
}
.rad{
	position:absolute;
	bottom:50px;
	right:30%;
}
.aforism{
	background-color:#616365;
	height:150px;
}
.aforism p:first-child{
	font-family:helv-oblique;
	font-size:2em;
	color:#ffffff;
	text-align:center;
	margin-top:0px;
	padding-top:25px;
}
.aforism p:last-child{
	font-family:helv-light;
	font-size:1.2em;
	color:#ffffff;
	text-align:right;
	margin-top:30px;
	margin-right:15%;
}
.aforism p span{
	font-family:helv-bold;
	color:#ffffff;
}
.skills{
	background-color:#393e42;
	height:500px;
	position:relative;
}
.skills h2{
	font-family:helv-light;
	font-size:3em;
	color:#ffffff;
	margin-top:0px;
}
.icon{
	background-color:#393e42;
	position:relative;
	font-size:16px;
	color:#ffffff;
	text-align:center;
	height:460px;
	vertical-align:middle;
}
.icon h3{
	font-family:helv-bold;
	font-size:1.6em;
	color:#ffffff;
}
.icon p{
	font-family:helv-light;
	font-size:1em;
	color:#ffffff;
}
 .logo{
	position:absolute;
	top:30%;
	left:25%;
 }
 .inner-image{
	position:absolute;
	top:21%;
	left:28%
 }
 
 .work{
	background-image:url("../img/Bg2.png");
 }
 .work h2{
	font-family:helv-light;
	font-size:3em;
	margin-top:0px;
	margin-bottom:20px;
	color:#ffffff;
 }
 .wrapper{
	width:80%;
	margin:0px auto;
 }
 .contact{
	background-color:#393e42;
	height:400px;
 }
 .contact h2{
	font-family:helv-light;
	font-size:3em;
	color:#ffffff;
	margin-top:0px;
	margin-bottom:50px;
 }
 .map{
	position:relative;
	height:300px;
	background:url("../img/WorldMap.png") center no-repeat;
 }
 .map p{
	color:#ffffff;
 }
 .map img{
	position:absolute;
	top:22%;
	left:51%;
 }
 .map p{
	font-family:helv-light;
	font-size:1em;
	position:absolute;
	top:17%;
	left:55%;
 }
 .map p span{
	font-family:helv-light;
	font-size:1.2em;
	color:#ffffff;
 }
 .forma{
	height:300px;
 }
 .for{
	margin-top:20px;
	margin-left:17%;
 }
 .forma p{
	font-family:helv-light;
	font-size:1.2em;
	color:#ffffff;
	margin-bottom:20px;
 }
 .forma input[type="submit"]{
	font-family:helv-bold;
	font-size:1.2em;
	margin-left:75%;
	color:red;
	border:none;
	background:none;
 }
 .for input[type="text"]{
    width: 85%;
    padding: 4px 10px;
    margin: 8px 0;
	color:white;
	background-color:#393e42;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid white;
}


