/*
Theme colors
=============
#f6f9f9 / 246, 249, 249 - body-background (light-grey);
#2d3950 / 45, 57, 80  - font-color      (dark-grey-blue);
#2d3950 / 45,193,197 - border-color (grey);
#15a4fa / 21, 164, 250  - links/button color/backgroud(orange);
*/

html {
	height: 100%;
}

body {
	position: relative;
	min-height: 100%;
	/*background-color: #f6f9f9;*/
	background-color: #2d3950;
	/*color: #2d3950;*/
	color: #f6f9f9;
	font-size: 14px;
	line-height: 1.75em;
	font-family: 'Verdana';
	font-weight: normal;
}

body * {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

main {
	padding-top: 69px;
	padding-bottom: 54px;
}

section {
	padding: 50px 0;
	padding: 5vw 0;
}

a {
	text-decoration: none;
	-webkit-transition: all 0.15s ease;
	   -moz-transition: all 0.15s ease;
	    -ms-transition: all 0.15s ease;
	     -o-transition: all 0.15s ease;
	        transition: all 0.15s ease;
	color: #15a4fa;
}

img {
	display: block;
	width: 100%;
}

h1 {
	font-size: 4vw;
	line-height: 1.45em;
}

h2 {
	font-size: 3.4vw;
	line-height: 1.45em;
}

h3 {
	font-size: 2.4vw;
	line-height: 1.45em;
}

h4 {
	font-size: 2.0vw;
	line-height: 1.45em;
}

h5 {
	font-size: 1.8vw;
	line-height: 1.45em;
}

h6 {
	font-size: 1.6vw;
	line-height: 1.45em;
}

p {
	margin: 20px 0px;
	/*font-size: 2.2vw;*/
	line-height: 1.75em;
}

.container {
	margin: 0 auto;
	max-width: 1240px;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}

/***************************
=== HEADER ===
***************************/
header {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	background: #f6f9f9;
	padding: 15px 0;
}

header .logo {
	float: left;
	font-size: 28px;
	line-height: 39px;
	text-transform: uppercase;
}

header .logo span {
	color: #2d3950;
	text-transform: none;
}

header .home-link {
	float: right;
	width: 39px;
	height: 39px;
	background: url(../img/home.svg) 100% 100% no-repeat;
	-webkit-background-size: 39px 39px;
	     -o-background-size: 39px 39px;
	        background-size: 39px 39px;
}

footer {
	padding: 15px 0;
	background: #B9BFBF;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	
}

footer p {
	margin: 0;
}

.row {
	position: relative;
	display: inline-block;
	margin: 0 -10px;
}

.column-four {
	float: left;
	width: 25%;
	padding: 0 10px;
}



/***************************
=== PROMO SECTION ===
***************************/
.promo-section {
	position: relative;
	width: 100%;
	background: url('../img/image_01.jpg') 50% 50% no-repeat;
}

.promo-section .overlay {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(45, 57, 80, 0.9);
}

.promo-section h1 {
	margin-bottom: 30px;
	text-align: center;
 	/*font-size: 36px;*/
 	color: #f6f9f9;
 	line-height: 1.45em;
}

.promo-section .container {
	position: relative;
	z-index: 2;
	height: 100%;
}

.thumb-image {
	margin-bottom: 20px;
	display: block;
	overflow: hidden;
	border: 2px solid #f6f9f9; 
}

.promo-section .thumb-image {
	position: relative;
	z-index: 2;
	/*height: 280px;*/
}

.promo-section .thumb-image h3 {
	position: absolute;
	z-index: 3;
	top: 50%;
	left: 0;
	width: 100%;
	background: rgba(45, 57, 80, 0);
	padding: 5px;
	line-height: 1.2em;
	color: #f6f9f9;
	text-align: center;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	     -o-transform: translateY(-50%);
	        transform: translateY(-50%);
	-webkit-transition: all 0.2s ease;
	   -moz-transition: all 0.2s ease;
	    -ms-transition: all 0.2s ease;
	     -o-transition: all 0.2s ease;
	        transition: all 0.2s ease;
}


.promo-section .image-wrap {
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%;
	display: block;
	width: 20%;
	height: 57.375%;
	overflow: hidden;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	border: 2px solid #f6f9f9;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

.promo-section .thumb-overlay {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(21, 164, 250, 0.4);
	-webkit-transition: all 0.2s ease;
	   -moz-transition: all 0.2s ease;
	    -ms-transition: all 0.2s ease;
	     -o-transition: all 0.2s ease;
	        transition: all 0.2s ease;
}

.promo-section .thumb-image:hover {
	z-index: 11;
}

.promo-section .thumb-image:hover .thumb-overlay {
	background: rgba(21, 164, 250, 0.1);
}

.promo-section .thumb-image:hover h3 {
	background: rgba(45, 57, 80, 0.8);
}



/***************************
=== GALLERY SECTION ===
***************************/

.gallery-section {
	background: #F6F9F9;
	color: #2D3950;
}

.gallery-section h2 {
	/*font-size: 34px;*/
	text-align: center;
	margin-bottom: 20px;
}

.gallery-section .gallery-link {
	display: block;
	width: 50%;
	margin: 0 auto;
}


/***************************
=== CONTENT SECTION ===
***************************/
.content-section h1,
.content-section h2,
.content-section h3,
.content-section h4,
.content-section h5,
.content-section h6 {
	text-align: center;
	margin: 30px 0px;
	line-height: 1.45em;
}


.content-section {
	/*padding: 75px 0 80px 0*/
}

.content-section .wrap-image {
	text-align: center;
}

.content-section .wrap-image img {
	display: inline-block;
	max-width: 750px;
	border: 4px solid #15a4fa;
}

.content-section i {
	font-style: italic;
}

.content-section b {
	font-weight: 700;
}

.content-section p.paragraph-three-column {
	margin: 40px 0;
  -webkit-column-count: 3;
		 -moz-column-count: 3;
    	 	 	column-count: 3;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
   	 	 	  column-gap: 50px;
   text-align:justify;
}

.content-section p.paragraph-two-column {
	margin: 40px 0;
  -webkit-column-count: 2;
		 -moz-column-count: 2;
    	 	 	column-count: 2;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
   	 	 	  column-gap: 50px;
   text-align:justify;
}

/***************************
=== Gallery ===
***************************/
.thumbs-section {
	/*padding: 140px 0 80px 0;*/
}

.thumbs-section .thumb-image:hover img {
	-webkit-transition: all 0.2s ease;
	   -moz-transition: all 0.2s ease;
	    -ms-transition: all 0.2s ease;
	     -o-transition: all 0.2s ease;
	        transition: all 0.2s ease;
}

.thumbs-section .thumb-image:hover img {
	opacity: 0.4;
}

.thumbs-section img {
	border: 4px solid #f6f9f9;
}

.thumbs-section .thumb-image img {
	border: 0 none;
}

.thumbs-section .container > h3 {
	display: inline-block;
	padding: 2px 4px;
	margin: 0;
	background: #f6f9f9;
	color: #2D3950;
}

.link-wrap {
	padding: 15px 0;
	text-align: center;
}


